
.each-slide-effect .imageTop {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height:550px; /* You must set a specified height */
}

.each-slide-effect .imageTop .image {
  width: 100%;
  height: 100vh;
  object-fit:cover ;
  
}
.each-slide-effect .imageTop .image img {
  width: 100%;
  height: 100vh;
  object-fit:cover ;
}

.each-slide-effect .imageTop .blockSlider {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(0,0,0, 0.8);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 50px;
  padding: 20px;
  z-index: 1;
  position: absolute;
  margin-top: -150px;
}
.each-slide-effect .imageTop .blockSlider .featured {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--Primary);
  border-radius: 20px;
  margin-top: -35px;
  padding: 10px 40px;
}

.each-slide-effect .imageTop .blockSlider .featured p {
  color: var(--White);
  font-weight: 700;
}

.each-slide-effect .imageTop .blockSlider h2 {
  color: var(--Primary);
  font-weight: 700;
  margin: 10px 10px 5px 10px;
}
.each-slide-effect .imageTop .blockSlider h3 {
  color: var(--BorderHover);
  font-weight: 700;
  margin: 20px 10px 0px 10px;
}
.each-slide-effect .imageTop .blockSlider h3 span {
  color: var(--Primary);
  font-weight: 800;
}
.each-slide-effect .imageTop .blockSlider a {
  text-decoration: none;
}
.each-slide-effect .imageTop .blockSlider h4 {
  color: var(--BorderHover);
  margin: 0 10px;
  font-weight: 500;
}
.each-slide-effect .imageTop .blockSlider h5 {
  color: var(--BorderHover);
  margin: 10px 7px;
}

.each-slide-effect .imageTop .blockSlider .iconsBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 10px 0px; 
  padding: 0px 5px;
  flex-wrap: wrap;
}

.each-slide-effect .imageTop .blockSlider .iconUnicBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 0px;
  color: var(--BorderHover);
  width: 100px;
  margin: 5px;
}

.each-slide-effect .imageTop .blockSlider .iconUnicBox  p {
  color: var(--BorderHover);
  font-weight: 700;
}


.each-slide-effect .imageTop .blockSlider .iconUnicBox svg {
  font-size: 18px;
  margin-right: 5px;
  color: var(--BorderHover);
  margin-top: -2px;

}

.each-slide-effect .imageTop .blockSlider .iconUnicBox .simbolBox {
  width: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  text-align: center;
  margin-top: 1px;
}
.each-slide-effect .imageTop .blockSlider .iconUnicBox .simbolBox  p {
  color: var(--BorderHover);
  font-weight: 700;
  font-size: 10px;
}

.each-slide-effect .imageTop .blockSlider .pricing {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: flex-start;
  margin: 0px;
}

.each-slide-effect .imageTop .blockSlider .pricing h6 {
  color: var(--BorderHover);
  font-weight: 800;
  margin: 2px 5px;
  text-align: flex-start;
}
.each-slide-effect .imageTop .blockSlider .pricing h6 span {
  font-weight: 500;
  color: var(--BorderHover);
}
.each-slide-effect .imageTop .blockSlider .pricing h3 {
  color: var(--BorderHover);
  font-weight: 400;
  margin: 2px 5px;
  text-align: flex-end;
      width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.each-slide-effect .imageTop .blockSlider .pricing span {
  color: var(--BorderHover);
  font-weight: 800;
}
.each-slide-effect .imageTop .blockSlider .pricing h4 {
  color: var(--BorderHover);
  font-weight: 400;
  margin: 2px 5px;
  text-align: flex-end;
      width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.each-slide-effect .imageTop .blockSlider .pricing h4 span {
  color: var(--BorderHover);
  font-weight: 800;
}



@media (max-width: 900px) {
  .each-slide-effect .imageTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 100vh; /* You must set a specified height */
  }


@media (max-width: 600px) {

  .each-slide-effect .imageTop {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh; /* You must set a specified height */
  }
  .each-slide-effect .imageTop .blockSlider {
    width: 500px;
      margin: 10px 10px 30px 10px;
      background-color: rgba(0, 0, 0, 0.8);
  }
@media (max-width: 530px) {
  .each-slide-effect .imageTop .blockSlider {
    width: 450px;
  }
  @media (max-width: 500px) {

    .each-slide-effect .imageTop .blockSlider {
      width: 400px;
    }
      .each-slide-effect .imageTop .blockSlider .icons {
          width: 100%;
          flex-wrap: wrap;
      }
      .each-slide-effect .imageTop .blockSlider .icons .iconUnic {
          width: 80px;
      }

      @media (max-width: 430px) {
        .each-slide-effect .imageTop .blockSlider {
          width: 350px;
        }

        @media (max-width: 390px) {
          .each-slide-effect .imageTop .blockSlider {
            width: 320px;
          }
          }
        }
  }
}
}
}
